
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

h1,
h2,
h3,
h4 {
    font-family: 'Arvo', serif;

}

header a {
    width: 20%;
}

.avatar {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.role {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.role h1 {
    margin: 10px 0 0 0;
    color: #414249;
}

.role h2 {
    margin: 20px 0 10px 0;
    color: #95979A;
}

.banner {
    height: 85vh;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.featured h3 {
    font-size: 1.5em;
    color: #95979A;
}

.project {
    border: 1px solid #B3CAE0;
    padding: 10px;
    margin: 10px;
    position: relative;
}

.project-description {
    height: 40%;
    width: 80%;
    background-color: rgba(208, 228, 239, 0.9);
    position: absolute;
    top: 30%;
    left: 10%;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(149,151,154,0.9);
    -moz-box-shadow: 5px 5px 5px 0px rgba(149,151,154,0.9);
    box-shadow: 5px 5px 5px 0px rgba(149,151,154,0.9);
    text-align: center;
}

.project-description h4 {
    color: #414249;
}



