body {
    font-family: 'Arvo', serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}


a {
    text-decoration: none;
    color: #414249;
}

a:visited {
    color: #EFEFF1;
}

a:hover {
    color: #95979A;
}

header a {
    width: 20%;
}

.avatar {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 7px;
}

.role {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.role h1 {
    margin: 10px 0 0 0;
    color: #414249;
}

.role h2 {
    margin: 20px 0 10px 0;
    color: #95979A;
}

.banner {
    height: 85vh;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.featured h3 {
    font-size: 1.5em;
    color: #95979A;
}

.project {
    border: 1px solid #B3CAE0;
    padding: 10px;
    margin: 10px;
    position: relative;
}

.project img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.project-description {
    height: 40%;
    width: 80%;
    background-color: rgba(208, 228, 239);
    position: absolute;
    top: 30%;
    left: 10%;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(149,151,154,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(149,151,154,0.5);
    box-shadow: 5px 5px 5px 0px rgba(149,151,154,0.5);
    text-align: center;
}

.project-description h4 {
    margin-top: 30px;
    color: #414249;
}

.project-description .icon {
    font-size: 1.5em;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}

footer p {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 0.8em;
}

footer a {
    font-weight: bold;
}

footer {
    background: #D0E4EF;

}

@media screen and (max-width: 425px) {
    .avatar {
        display: none;
    }

    header {
    margin-left: 30px;
    }

    .project-description h4 {
        margin-top: 15px;
    }

}



